<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>14</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>googlegmail</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.HF.Lyber</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>comLyber</string>
				<string>com.Lyber</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.Lyber</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.Lyber</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Lyber</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lyber</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comLyber</string>
		<string>comLyber2</string>
		<string>googlegmail</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Mabry Pro.otf</string>
		<string>AtypText-Semibold.ttf</string>
		<string>AtypDisplay-Bold.ttf</string>
		<string>AtypDisplay-Medium.ttf</string>
		<string>AtypDisplay-Regular.ttf</string>
		<string>AtypDisplay-Semibold.ttf</string>
		<string>Mabry Pro Bold.otf</string>
		<string>Mabry Pro Light.otf</string>
		<string>Mabry Pro Medium.otf</string>
		<string>Mabry Pro Light.otf</string>
		<string>AtypText-Bold.ttf</string>
		<string>AtypText-Medium.ttf</string>
		<string>AtypText-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>branch_app_domain</key>
	<array>
		<string>hmd9m.test-app.link</string>
		<string>hmd9m-alternate.test-app.link</string>
		<string>9xe28.app.link</string>
		<string>9xe28-alternate.app.link</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_eh28oTmXZaeVWjyryBu4UdobxAcT0b2M</string>
		<key>test</key>
		<string>key_test_pnZ5fOm43ccP5fvDtOkfjppnytfI7a63</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.Lyber</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data will be used to improve user experience. This helps us understand how you downloaded our app and what features you mainly use.</string>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
</dict>
</plist>
