<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONTRALIA_CONFIDENTIALITY_ID360</key>
	<string>https://preprod.id360docaposte.com/static/process_ui/assets/pdf/politiqueconfidentialite</string>
	<key>CONTRALIA_CGUID_URL</key>
	<string>https://preprod.id360docaposte.com/static/process_ui/assets/pdf/cguid360</string>
	<key>CONTRALIA_PSAN_CONTRACT_URL</key>
	<string>https://test.contralia.fr/eDoc/user-api/document/coreDocument?coreDocUrl</string>
	<key>CONTRALIA_KYC_URL</key>
	<string>https://preprod.id360docaposte.com/static/process_ui/index.html#/enrollment</string>
	<key>CONTRALIA_URL</key>
	<string>https://test.contralia.fr/Contralia</string>
	<key>ENV</key>
	<string>STAGING</string>
	<key>APPSFLYER_APP_ID</key>
	<string>1609050369</string>
	<key>STRIPE_KEY</key>
	<string>pk_test_51NVVY7F2A3romcuHdC3JDD9evsFhQvyZ5cYS6wpy9OznXgmYzLvWTG81Zfj2nWGQFZ2zs8RboA3uMLCNPpPV08Zk00McUdiPAt</string>
	<key>SECURITY_KEY</key>
	<string>409f3hui4rbf2d2E/4-39u2!-9di4b23-01C*SRFV2d12jbf)2DBFG3i4f24f</string>
	<key>PLACES_API_KEY</key>
	<string>AIzaSyAp7c7z5phKb1IkXwJdOrJDGRHMIyr26BE</string>
	<key>API_URL</key>
	<string>https://staging.lyber.com/</string>
</dict>
</plist>
