<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lyber.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
				<key>dateExpires</key>
				<string>25/03/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
						<key>dateExpires</key>
						<string>25/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFSZHD28XL</string>
						<key>name</key>
						<string>GAURAV NEGI</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
						<key>dateExpires</key>
						<string>25/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFSZHD28XL</string>
						<key>name</key>
						<string>GAURAV NEGI</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
						<key>dateExpires</key>
						<string>25/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OTPFieldView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFSZHD28XL</string>
						<key>name</key>
						<string>GAURAV NEGI</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
						<key>dateExpires</key>
						<string>25/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFSZHD28XL</string>
						<key>name</key>
						<string>GAURAV NEGI</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
						<key>dateExpires</key>
						<string>25/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFSZHD28XL</string>
						<key>name</key>
						<string>GAURAV NEGI</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
						<key>dateExpires</key>
						<string>25/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFSZHD28XL</string>
						<key>name</key>
						<string>GAURAV NEGI</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
						<key>dateExpires</key>
						<string>25/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFSZHD28XL</string>
						<key>name</key>
						<string>GAURAV NEGI</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A658059C3D1915FB64A8850C7D2D21591EA8B18</string>
						<key>dateExpires</key>
						<string>25/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GFSZHD28XL</string>
						<key>name</key>
						<string>GAURAV NEGI</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GFSZHD28XL.com.henceforth.Lyber</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GFSZHD28XL</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>GFSZHD28XL.com.henceforth.Lyber</string>
				</array>
			</dict>
			<key>name</key>
			<string>Lyber.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>91bc7854-10c2-4ec7-98ef-3e8f41a1e90b</string>
				<key>dateExpires</key>
				<string>27/05/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GFSZHD28XL</string>
				<key>name</key>
				<string>GAURAV NEGI</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
